<h1>Categories Management</h1>
<button class="btn btn-primary" href="admin/categories/update">Add</button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">description</th>
      <th scope="col">slug</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.list.length}}
      {{#each this.list}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{slug}}</td>
        <td>
          <button class="btn btn-success" aria-label="Edit"><i class='bx bxs-edit'></i></button>
        </td>
        <td>
          <button class="btn btn-danger" aria-label="Delete"><i class='bx bxs-trash-alt'></i></button>
        </td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="6" class="text-center">No data available</td>
      </tr>
    {{/if}}
  </tbody>
</table>
