<h1>Categories Management</h1>
<!-- Add Category Button -->
<a class="btn btn-primary" href="/admin/categories/add">Add</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Slug</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.list.length}}
      {{#each this.list}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{slug}}</td>
        <!-- Edit Category Button -->
        <td>
          <a class="btn btn-success" href="/admin/categories/edit/{{id}}" aria-label="Edit">
            <i class='bx bxs-edit'></i>
          </a>
        </td>
        <!-- Delete Category Button -->
        <td>
          <form action="/admin/categories/delete/{{id}}" method="post" style="display: inline;">
            <button class="btn btn-danger" type="submit" aria-label="Delete">
              <i class='bx bxs-trash-alt'></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="6" class="text-center">No data available</td>
      </tr>
    {{/if}}
  </tbody>
</table>
