<h1>Tags Management</h1>
<button 
  class="btn btn-primary"
  onclick="window.location.href='/admin/tags/add'"
>
  Add
</button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Slug</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.list.length}}
      {{#each this.list}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td>{{slug}}</td>
        <td>
          <a class="btn btn-success" href="/admin/tags/edit/{{id}}" aria-label="Edit">
            <i class='bx bxs-edit'></i>
          </a>
        </td>
        <!-- Delete Category Button -->
        <td>
          <form action="/admin/tags/delete/{{id}}" method="post" style="display: inline;">
            <button class="btn btn-danger" type="submit" aria-label="Delete">
              <i class='bx bxs-trash-alt'></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="6" class="text-center">No data available</td>
      </tr>
    {{/if}}
  </tbody>
</table>